<!-- This is 'index.html' File of VCET Hackathon Project -->

<!DOCTYPE html>
<html lang="en">

    <!-- This is the Head Section -->
    <head>
        <!-- passpass
        mongo "mongodb+srv://trial.kon8a.mongodb.net/covid" --username merlin_201' -->
        

        <!-- Meta Information for Search Engines -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Title of the Document -->
        <title>Covid Care Center</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

        <!-- Link to the Bootsrap CSS -->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">

        <style>
            a, a:hover{
                text-decoration: none;
                color: inherit;
            }
            .details{
                padding: 20px 10px !important;
            }

            .contain{
                display: flex;
                justify-content: space-around;
                width: 100%;
            }

            .contain .left{
                padding: 8px;
                width: 45%;
                display: flex;
                flex-direction: column;
                color: #111;
            }

            .contain .left p{
                font-size: 16px;
                opacity: 0.75;
                font-weight: bold;
            }

            .contain .left h6{
                font-size: 16px;
                opacity: 0.9;
            }

            .contain .left span{
                color: red;
                margin-right: 2px;
            }

            .contain .right{
                padding: 5px 11px;
                width: 55%;
                border-radius: 25px;
                background-color: rgba(58,59,69,.15);
            }

            .contain .right .box{
                margin: 10px 0 15px 0;
                display: flex;
                flex-direction: column;
                padding: 5px;
            }

            .contain .right .box h6{
                font-weight: bold;
                color: #111;
                font-size: 16px;
            }

            .contain .right .box .buttons{
                display: flex;
                padding: 0 2px;
                width: 100%;
                justify-content: space-around;
            }

            .contain .right .box .buttons .specs{
                width: max-content;
                border-radius: 25px;
                font-size: 10px;
                color: #111;
                padding: font;
                font-weight: bold;
                letter-spacing: 0.65px;
            }

            .contain .right .box .buttons .spec{
                width: max-content;
                border-radius: 25px;
                font-size: 10px;
                color: #111;
                background: lightcoral;
                font-weight: bold;
                letter-spacing: 0.65px;
            }

            .contain .right .third{
                display: flex;
                flex-direction: column;
            }

            .contain .right .third .oxygen{
                border-radius: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #111;
                background: #fff;
                padding: 5px 12px;
            }

            .contain .right .third .oxygen .oxy{
                width: 70%;
                margin: 0;
                justify-content: center;
                align-items: center;
                color: #111;
                font-size: 14px;
                font-weight: bold;
            }

            .contain .right .third .oxygen .oxyg{
                width: 25%;
                margin: 0;
                text-align: center;
                align-items: center;
                color: rgb(255, 70, 70);
                font-size: 20px;
                font-weight: bold;
            }

            .btns{
                padding: 10px 15px;
                width: max-content;
                border-radius: 25px;
                margin: 15px 0 15px auto;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0.65px;
            }
            .tab-content>.active {
                display: inline-flex;
            }
            /* BedTime Modal */

            .popup{
                background: rgba(0, 0, 0, 0.65);
                display: flex;
                align-items: center;
                justify-content: center;
                position: fixed;
                opacity: 0;
                pointer-events: none;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                z-index: 100000;
                transition: all 0.3s ease-in-out;
            }

            .popup.show{
                opacity: 1;
                pointer-events: auto;
            }

            .popup .box{
                align-self: center;
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0 10px 20px rgba(104, 80, 80, 0.2);
                padding: 20px 40px;
                width: 35%;
                margin: 10px auto;
                cursor: pointer;
            }

           .popup .box .part-1 h3{
               color: #1cc88a;
               font-weight: bold;
           }

           label{
               color: #111;
               font-weight: bold;
               cursor: pointer;
           }

           select{
               cursor: pointer;
           }

           .reqd{
               color: rgb(255, 70, 70);
           }

        </style>
        <script>
            // Store data coming from ejs into javascript variable 
            var parsed_data = <%- JSON.stringify(patients) %>
        </script>

    </head>

    <!-- This is the Body Section -->
    <body id="page-top">

        <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
                                                                                W R A P P E R   C L A S S 
        ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
                                                                            S I D E     N A V I G A T I O N      B A R 
             ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar Logo -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                    <div class="sidebar-brand-icon">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Covid Care Center</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard" target="_blank">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                       
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Nav Item - Sub Heading -->
                <div class="sidebar-heading">
                    Interface
                </div>

                <!-- Nav Item - Allotments -->
                <li class="nav-item">
                    <a class="nav-link" href="/allotment">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Allotment</span>
                    </a>
                </li>

                <!-- Nav Item - Patients -->
                <li class="nav-item">
                    <a class="nav-link" href="/allotment/patients">
                        <i class="fas fa-user-injured"></i>
                        <span>Patients</span>
                    </a>
                </li>

                <!-- Nav Item - Patients -->
                <li class="nav-item">
                    <a class="nav-link" href="/allotment/facilities">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Facilities</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>

            <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
                                                                                C O N T E N T   W R A P P E R
             ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
                                                                    C O N T E N T   W R A P P E R   -   N A V B A R
                    --------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                    
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Search -->
                        <form
                            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                    aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>

                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                    aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small"
                                                placeholder="Search for..." aria-label="Search"
                                                aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            
                            
                            </li>

                            <!----------------------------------------------------------------------------------------------------------------------------------------------------------- 
                                                                            A L E R T S     &    U S R      P R O F I L E
                            ------------------------------------------------------------------------------------------------------------------------------------------------------------->

                            <!-- Nav Item - Alerts -->
                            <li class="nav-item dropdown no-arrow mx-1">

                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>

                                    <!-- Counter - Alerts -->
                                    <span class="badge badge-danger badge-counter">3+</span>
                                </a>

                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">

                                    <h6 class="dropdown-header">
                                        Alerts Center
                                    </h6>
                                    
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 12, 2019</div>
                                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                        </div>
                                    </a>
                                    
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-success">
                                                <i class="fas fa-donate text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 7, 2019</div>
                                            $290.29 has been deposited into your account!
                                        </div>
                                    </a>
                                    
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-warning">
                                                <i class="fas fa-exclamation-triangle text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 2, 2019</div>
                                            Spending Alert: We've noticed unusually high spending for your account.
                                        </div>
                                    </a>
                                    
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>

                                </div>

                            </li>

                            <!-- Nav Item - Messages -->
                            <li class="nav-item dropdown no-arrow mx-1">

                                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-envelope fa-fw"></i>
                                
                                    <!-- Counter - Messages -->
                                    <span class="badge badge-danger badge-counter">7</span>
                                </a>
                                
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                    <h6 class="dropdown-header">
                                        Message Center
                                    </h6>
                                    
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="/img/undraw_profile_1.svg"
                                                alt="...">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                                problem I've been having.</div>
                                            <div class="small text-gray-500">Emily Fowler · 58m</div>
                                        </div>
                                    </a>
                                    
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="/img/undraw_profile_2.svg"
                                                alt="...">
                                            <div class="status-indicator"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">I have the photos that you ordered last month, how
                                                would you like them sent to you?</div>
                                            <div class="small text-gray-500">Jae Chun · 1d</div>
                                        </div>
                                    </a>
                                    
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="/img/undraw_profile_3.svg"
                                                alt="...">
                                            <div class="status-indicator bg-warning"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">Last month's report looks great, I am very happy with
                                                the progress so far, keep up the good work!</div>
                                            <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                        </div>
                                    </a>
                                    
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                                alt="...">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                                told me that people say this to all dogs, even if they aren't good...</div>
                                            <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                        </div>
                                    </a>
                                    
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>

                                </div>
                            </li>

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">

                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"><b><%=user.name%></b></span>
                                    <img class="img-profile rounded-circle" src="/img/undraw_profile.svg">
                                </a>

                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>

                            </li>

                        </ul>

                    </nav>

                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <h1 class="h3 mb-4 text-gray-800">Allotment</h1>

                        <div class="row">

                            <!-- Card - Collapse Trigger -->
                            <div class="col-lg-6">
    
                                <div class="card shadow mb-4">

                                    <!-- Card - Heading -->
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Allotment Details</h6>
                                    </div>

                                    <!-- Card - Body -->
                                    <div class="card-body">
                                        <% let date = new Date() %>
                                        <% let today = parseInt(date.getFullYear()) %>
                                        <!-- Patient - 1 -->
                                        <% for(var i = 0;i < patients.length;i++){ %>
                                        <div class="card shadow mb-4">
                                            
                                            <a id="<%=patients[i]._id%>" onclick="populateRightDiv(this.id,parsed_data)" href="#collapseCardExample" style="display: flex !important; justify-content: space-between; align-items: center;" data-toggle="tab"  class="d-block card-header" role="button" >
                                                
                                                <div class="left" style="width: 65%">
                                                    <h6 class="m-0 font-weight-bold text-primary"><%=patients[i].firstname%> <%=patients[i].lastname%></h6>
                                                    <div style="color: #111; font-weight: bold; opacity: 0.7;">
                                                        <%=patients[i].address%>
                                                    </div>
                                                </div>
                                                
                                                <div class="right" style="width: 35%; display: flex; justify-content: space-evenly; align-items: center;">
                                                    <button class="btn btn-warning btn-sm" style="color: #111 !important; font-weight: bold; border-radius: 30px; padding: 5px 10px;">Age - <%=(today - parseInt(patients[i].date_of_birth.getFullYear()))%></button>
                                                    <% let o2 = patients[i].o2_saturation_level%>
                                                   <% if(o2 >= 95) { %>
                                                    <button style="height: 1.2rem !important; width: 1.2rem !important" class="btn btn-info btn-circle btn-sm">
                                                    
                                                    </button>
                                                    <% } else if(o2 >= 85){ %>
                                                    <button style="height: 1.2rem !important; width: 1.2rem !important" class="btn btn-warning btn-circle btn-sm">
                                                    
                                                    </button>
                                                    <% } else { %>
                                                        <button style="height: 1.2rem !important; width: 1.2rem !important" class="btn btn-danger btn-circle btn-sm">
                                                    
                                                        </button>
                                                    <% } %>
                                                </div>
                                                 
                                            </a>

                                        </div>
                                         <% } %>
                                        <!-- Patient - 2 -->
                                        <!-- <div class="card shadow mb-4">
                                            
                                            <a style="display: flex !important; justify-content: space-between; align-items: center;" href="#collapseCardExample2" class="d-block card-header" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                                
                                                <div class="left" style="width: 65%">
                                                    <h6 class="m-0 font-weight-bold text-primary">Siddhesh Mane</h6>
                                                    <div style="color: #111; font-weight: bold; opacity: 0.7;">
                                                        Malad East, Mumbai-97 
                                                    </div>
                                                </div>
                                                
                                                <div class="right" style="width: 35%; display: flex; justify-content: space-evenly; align-items: center;">
                                                    <button class="btn btn-warning btn-sm" style="color: #111 !important; font-weight: bold; border-radius: 30px; padding: 5px 10px;">Age - 18</button>
                                                    <button style="height: 1.2rem !important; width: 1.2rem !important" class="btn btn-danger btn-circle btn-sm">
                                                    </button>
                                                </div>

                                            </a>
                                            
                                        </div> -->

                                        <!-- Patient - 3 -->
                                        <!-- <div class="card shadow mb-4">
                                            
                                            <a style="display: flex !important; justify-content: space-between; align-items: center;" href="#collapseCardExample3" class="d-block card-header" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                                
                                                <div class="left" style="width: 65%">
                                                    <h6 class="m-0 font-weight-bold text-primary">Siddhesh Mane</h6>
                                                    <div style="color: #111; font-weight: bold; opacity: 0.7;">
                                                        Malad East, Mumbai-97 
                                                    </div>
                                                </div>
                                                
                                                <div class="right" style="width: 35%; display: flex; justify-content: space-evenly; align-items: center;">
                                                    <button class="btn btn-warning btn-sm" style="color: #111 !important; font-weight: bold; border-radius: 30px; padding: 5px 10px;">Age - 18</button>
                                                    <button style="height: 1.2rem !important; width: 1.2rem !important" class="btn btn-danger btn-circle btn-sm">
                                                    </button>
                                                </div>

                                            </a>
                                            
                                        </div> -->
                                        
                                    </div>
                                    
                                </div>
    
                            </div>

                            <!-- Card - Collapse Container -->
                           
                            <div class="col-lg-6">
    
                                <div class="card shadow mb-4">

                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Patient Detailed Information</h6>
                                    </div>
                                   
                                    <div class="card-body details">

                                        <div class="tab-content">
                                           
                                            <div class="contain tab-pane" id="collapseCardExample"> 
                                                <div class="left">
                                                    <h6 id="patient_name"><b>Ninad Patil</b></h6>
                                                    <p id="address">virar</p>
                                                    <h6 id="contact"><span><i class="fas fa-tty"></i></span>123456</h6>
                                                    <h6 id="emergency_contact"><span><i class="fas fa-phone"></i></span>9876543</h6>
                                                    <div class="buttons">
                                                        <button id="age" class="btn btn-info btn-sm" style="color: #fff !important; font-weight: bold; border-radius: 30px; padding: 5px 10px;">Age - 18</button>
                                                        <button id="gender" class="btn btn-info btn-sm" style="color: #fff !important; font-weight: bold; border-radius: 30px; padding: 5px 10px;">FeMale</button>
                                                    </div>
                                                    
                                                </div>
                                                <div class="right">
                                                    <div class="box first">
                                                        <h6>Symptoms</h6>
                                                        <div id="symptoms" class="buttons">
                                                           
                                                            <!-- <button class="specs btn btn-warning"></button> -->
                                                           
                                                            <!-- <button class="specs btn btn-warning">Headache</button>
                                                            <button class="specs btn btn-warning">Headache</button> -->
                                                        </div>
                                                    </div>
                                                    <div class="box second">
                                                        <h6>Comorbidities</h6>
                                                        <div id="comorbidities" class="buttons">
                                                          
                                                            <!-- <button class="spec btn "> </button> -->
                                                            
                                                            <!-- <button class="spec btn ">High BP</button>
                                                            <button class="spec btn ">Headache</button> -->
                                                        </div>
                                                    </div>
                                                    <div class="box third">
                                                        <div class="oxygen">
                                                            <p class="oxy"><b>O<sub>2</sub> Saturation Level</b></p>
                                                            <p id="o2Level" class="oxyg"><b><big>80</big></b>
                                                            </p>
                                                        </div>
                                                       
                                                        <button id="home_quarantine" class="btn btns ">Home Quarantine Possible</button>
                                                       
                                                        <!-- <button class="btn btns btn-danger">Home Quarantine Not Possible</button> -->
                                                        
                                                        <!-- <button class="btn btns btn-danger">Home Quarantine Not Possible</button> -->
                                                    </div>
                                                </div>
                                            </div>
                                            
                                           
                                            <div class="end" style="display: flex; justify-content: flex-end; width: 90%; margin: 0 auto">
                                                <a  class="btn btns btn-warning open">Approve Bed</a>
                                            </div>
                                          
                                        </div>
                                        
                                    </div>
                                  

                                </div>
    
                            </div>
                
                        </div>
                    </div>

                </div>
                <!-- End of Main Content -->

                <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
                                                                    C O N T E N T   W R A P P E R   -   F O O T E R
                ----------------------------------------------------------------------------------------------------------------------------------------------------------------------->
               
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Covid Care Center</span>
                        </div>
                    </div>
                </footer>

            </div>

        </div>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
                                                                                L O G O U T     M O D E L
        ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">

                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="/logout">Logout</a>
                    </div>

                </div>

            </div>
        </div>
     <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
                                                                       APPROVE BED MODEL          
        ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="popup">
            <div class="box">      
                <div class="part-1">
                    <h3>Allot Bed At..</h3>
                    
                </div>
                <form action="/approveBed" method="POST">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <input id="patient_id" type="hidden" name="patient_id" value="">
                                <label for="">Facilities<span class="reqd">*</span> </label>
                                <select class="form-select" name="facility_id" aria-label="Default select example" required>
                                    <option selected>Select a Facility</option>
                                    <% for(let i = 0;i < facility.length;i++) { %>
                                    <option value="<%=facility[i]._id%>"><%=facility[i].name%></option>
                                    <%  } %>
                                    <!-- <option value="2">Facility - 2</option> 
                                    <option value="3">Facility - 3</option> 
                                    <option value="4">Facility - 4</option>  -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="">Types of Beds<span class="reqd">*</span> </label>
                                <select class="form-select" name="bed_type" aria-label="Default select example" required>
                                    <option value="0" selected>Select a Type of Bed</option>
                                    <option value="ordinary">Ordinary Bed</option>
                                    <option value="oxygen">Oxygen Bed</option> 
                                    <option value="icu">ICU Bed</option> 
                                    <option value="ventilator">Ventilator Bed</option>
                                </select>
                            </div>
                        </div>
                    </div>
               
                <button type="submit" class="btn btns btn-approve btn-warning open">Approve Allocation</button>
            </form>
            </div>
        </div>

        

    </body>
    <script>
        const open = document.querySelector('.open');
        const close = document.querySelector('.close'); 
        const popup = document.querySelector('.popup');

        open.addEventListener("click", () => {
            popup.classList.add("show");
        });

        close.addEventListener("click", () => {
            popup.classList.remove("show");
        });

    </script>

    <!-- Link to the Bootstrap Scripts -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
</html>